/*
	Theme Name: Topica
	Theme URI: http://topica.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
.info-boxes .box-img .box-overlay p{
	color: inherit;
	margin: 0;
}
.text-center{
	text-align: center;
}
.text-color p{
	color: inherit;
}
.orange-box .overlay-text{
	opacity: 0.95;
}

