

/** 2.41 Offsets */

html .page .inset-left-0 {
	padding-left: 0;
}

html .page .inset-left-10 {
	padding-left: 10px;
}

html .page .inset-left-15 {
	padding-left: 15px;
}

html .page .inset-left-20 {
	padding-left: 20px;
}

html .page .inset-left-25 {
	padding-left: 25px;
}

html .page .inset-left-30 {
	padding-left: 30px;
}

html .page .inset-left-38 {
	padding-left: 38px;
}

html .page .inset-left-50 {
	padding-left: 50px;
}

html .page .inset-left-60 {
	padding-left: 60px;
}

html .page .inset-left-70 {
	padding-left: 70px;
}

html .page .inset-left-100 {
	padding-left: 100px;
}

html .page .inset-left-110 {
	padding-left: 110px;
}

@media (min-width: 480px) {
	html .page .inset-xs-left-0 {
		padding-left: 0;
	}
	html .page .inset-xs-left-10 {
		padding-left: 10px;
	}
	html .page .inset-xs-left-15 {
		padding-left: 15px;
	}
	html .page .inset-xs-left-20 {
		padding-left: 20px;
	}
	html .page .inset-xs-left-25 {
		padding-left: 25px;
	}
	html .page .inset-xs-left-30 {
		padding-left: 30px;
	}
	html .page .inset-xs-left-38 {
		padding-left: 38px;
	}
	html .page .inset-xs-left-50 {
		padding-left: 50px;
	}
	html .page .inset-xs-left-60 {
		padding-left: 60px;
	}
	html .page .inset-xs-left-70 {
		padding-left: 70px;
	}
	html .page .inset-xs-left-100 {
		padding-left: 100px;
	}
	html .page .inset-xs-left-110 {
		padding-left: 110px;
	}
}

@media (min-width: 768px) {
	html .page .inset-sm-left-0 {
		padding-left: 0;
	}
	html .page .inset-sm-left-10 {
		padding-left: 10px;
	}
	html .page .inset-sm-left-15 {
		padding-left: 15px;
	}
	html .page .inset-sm-left-20 {
		padding-left: 20px;
	}
	html .page .inset-sm-left-25 {
		padding-left: 25px;
	}
	html .page .inset-sm-left-30 {
		padding-left: 30px;
	}
	html .page .inset-sm-left-38 {
		padding-left: 38px;
	}
	html .page .inset-sm-left-50 {
		padding-left: 50px;
	}
	html .page .inset-sm-left-60 {
		padding-left: 60px;
	}
	html .page .inset-sm-left-70 {
		padding-left: 70px;
	}
	html .page .inset-sm-left-100 {
		padding-left: 100px;
	}
	html .page .inset-sm-left-110 {
		padding-left: 110px;
	}
}

@media (min-width: 992px) {
	html .page .inset-md-left-0 {
		padding-left: 0;
	}
	html .page .inset-md-left-10 {
		padding-left: 10px;
	}
	html .page .inset-md-left-15 {
		padding-left: 15px;
	}
	html .page .inset-md-left-20 {
		padding-left: 20px;
	}
	html .page .inset-md-left-25 {
		padding-left: 25px;
	}
	html .page .inset-md-left-30 {
		padding-left: 30px;
	}
	html .page .inset-md-left-38 {
		padding-left: 38px;
	}
	html .page .inset-md-left-50 {
		padding-left: 50px;
	}
	html .page .inset-md-left-60 {
		padding-left: 60px;
	}
	html .page .inset-md-left-70 {
		padding-left: 70px;
	}
	html .page .inset-md-left-100 {
		padding-left: 100px;
	}
	html .page .inset-md-left-110 {
		padding-left: 110px;
	}
}

@media (min-width: 1200px) {
	html .page .inset-lg-left-0 {
		padding-left: 0;
	}
	html .page .inset-lg-left-10 {
		padding-left: 10px;
	}
	html .page .inset-lg-left-15 {
		padding-left: 15px;
	}
	html .page .inset-lg-left-20 {
		padding-left: 20px;
	}
	html .page .inset-lg-left-25 {
		padding-left: 25px;
	}
	html .page .inset-lg-left-30 {
		padding-left: 30px;
	}
	html .page .inset-lg-left-38 {
		padding-left: 38px;
	}
	html .page .inset-lg-left-50 {
		padding-left: 50px;
	}
	html .page .inset-lg-left-60 {
		padding-left: 60px;
	}
	html .page .inset-lg-left-70 {
		padding-left: 70px;
	}
	html .page .inset-lg-left-100 {
		padding-left: 5%;
	}
	html .page .inset-lg-left-110 {
		padding-left: 110px;
	}
}

@media (min-width: 1800px) {
	html .page .inset-xl-left-0 {
		padding-left: 0;
	}
	html .page .inset-xl-left-10 {
		padding-left: 10px;
	}
	html .page .inset-xl-left-15 {
		padding-left: 15px;
	}
	html .page .inset-xl-left-20 {
		padding-left: 20px;
	}
	html .page .inset-xl-left-25 {
		padding-left: 25px;
	}
	html .page .inset-xl-left-30 {
		padding-left: 30px;
	}
	html .page .inset-xl-left-38 {
		padding-left: 38px;
	}
	html .page .inset-xl-left-50 {
		padding-left: 50px;
	}
	html .page .inset-xl-left-60 {
		padding-left: 60px;
	}
	html .page .inset-xl-left-70 {
		padding-left: 70px;
	}
	html .page .inset-xl-left-100 {
		padding-left: 100px;
	}
	html .page .inset-xl-left-110 {
		padding-left: 110px;
	}
}

html .page .inset-right-0 {
	padding-right: 0;
}

html .page .inset-right-10 {
	padding-right: 10px;
}

html .page .inset-right-15 {
	padding-right: 15px;
}

html .page .inset-right-20 {
	padding-right: 20px;
}

html .page .inset-right-25 {
	padding-right: 25px;
}

html .page .inset-right-30 {
	padding-right: 30px;
}

html .page .inset-right-38 {
	padding-right: 38px;
}

html .page .inset-right-50 {
	padding-right: 50px;
}

html .page .inset-right-60 {
	padding-right: 60px;
}

html .page .inset-right-70 {
	padding-right: 70px;
}

html .page .inset-right-100 {
	padding-right: 100px;
}

html .page .inset-right-110 {
	padding-right: 110px;
}

@media (min-width: 480px) {
	html .page .inset-xs-right-0 {
		padding-right: 0;
	}
	html .page .inset-xs-right-10 {
		padding-right: 10px;
	}
	html .page .inset-xs-right-15 {
		padding-right: 15px;
	}
	html .page .inset-xs-right-20 {
		padding-right: 20px;
	}
	html .page .inset-xs-right-25 {
		padding-right: 25px;
	}
	html .page .inset-xs-right-30 {
		padding-right: 30px;
	}
	html .page .inset-xs-right-38 {
		padding-right: 38px;
	}
	html .page .inset-xs-right-50 {
		padding-right: 50px;
	}
	html .page .inset-xs-right-60 {
		padding-right: 60px;
	}
	html .page .inset-xs-right-70 {
		padding-right: 70px;
	}
	html .page .inset-xs-right-100 {
		padding-right: 100px;
	}
	html .page .inset-xs-right-110 {
		padding-right: 110px;
	}
}

@media (min-width: 768px) {
	html .page .inset-sm-right-0 {
		padding-right: 0;
	}
	html .page .inset-sm-right-10 {
		padding-right: 10px;
	}
	html .page .inset-sm-right-15 {
		padding-right: 15px;
	}
	html .page .inset-sm-right-20 {
		padding-right: 20px;
	}
	html .page .inset-sm-right-25 {
		padding-right: 25px;
	}
	html .page .inset-sm-right-30 {
		padding-right: 30px;
	}
	html .page .inset-sm-right-38 {
		padding-right: 38px;
	}
	html .page .inset-sm-right-50 {
		padding-right: 50px;
	}
	html .page .inset-sm-right-60 {
		padding-right: 60px;
	}
	html .page .inset-sm-right-70 {
		padding-right: 70px;
	}
	html .page .inset-sm-right-100 {
		padding-right: 100px;
	}
	html .page .inset-sm-right-110 {
		padding-right: 110px;
	}
}

@media (min-width: 992px) {
	html .page .inset-md-right-0 {
		padding-right: 0;
	}
	html .page .inset-md-right-10 {
		padding-right: 10px;
	}
	html .page .inset-md-right-15 {
		padding-right: 15px;
	}
	html .page .inset-md-right-20 {
		padding-right: 20px;
	}
	html .page .inset-md-right-25 {
		padding-right: 25px;
	}
	html .page .inset-md-right-30 {
		padding-right: 30px;
	}
	html .page .inset-md-right-38 {
		padding-right: 38px;
	}
	html .page .inset-md-right-50 {
		padding-right: 50px;
	}
	html .page .inset-md-right-60 {
		padding-right: 60px;
	}
	html .page .inset-md-right-70 {
		padding-right: 70px;
	}
	html .page .inset-md-right-100 {
		padding-right: 100px;
	}
	html .page .inset-md-right-110 {
		padding-right: 110px;
	}
}

@media (min-width: 1200px) {
	html .page .inset-lg-right-0 {
		padding-right: 0;
	}
	html .page .inset-lg-right-10 {
		padding-right: 10px;
	}
	html .page .inset-lg-right-15 {
		padding-right: 15px;
	}
	html .page .inset-lg-right-20 {
		padding-right: 20px;
	}
	html .page .inset-lg-right-25 {
		padding-right: 25px;
	}
	html .page .inset-lg-right-30 {
		padding-right: 30px;
	}
	html .page .inset-lg-right-38 {
		padding-right: 38px;
	}
	html .page .inset-lg-right-50 {
		padding-right: 50px;
	}
	html .page .inset-lg-right-60 {
		padding-right: 60px;
	}
	html .page .inset-lg-right-70 {
		padding-right: 70px;
	}
	html .page .inset-lg-right-100 {
		padding-right: 100px;
	}
	html .page .inset-lg-right-110 {
		padding-right: 110px;
	}
}

@media (min-width: 1800px) {
	html .page .inset-xl-right-0 {
		padding-right: 0;
	}
	html .page .inset-xl-right-10 {
		padding-right: 10px;
	}
	html .page .inset-xl-right-15 {
		padding-right: 15px;
	}
	html .page .inset-xl-right-20 {
		padding-right: 20px;
	}
	html .page .inset-xl-right-25 {
		padding-right: 25px;
	}
	html .page .inset-xl-right-30 {
		padding-right: 30px;
	}
	html .page .inset-xl-right-38 {
		padding-right: 38px;
	}
	html .page .inset-xl-right-50 {
		padding-right: 50px;
	}
	html .page .inset-xl-right-60 {
		padding-right: 60px;
	}
	html .page .inset-xl-right-70 {
		padding-right: 70px;
	}
	html .page .inset-xl-right-100 {
		padding-right: 100px;
	}
	html .page .inset-xl-right-110 {
		padding-right: 110px;
	}
}

.inset-left-7p {
	padding-left: 7%;
}

.inset-right-7p {
	padding-right: 7%;
}

.inset-left-11p {
	padding-left: 11%;
}

.inset-right-11p {
	padding-right: 11%;
}

html .page .offset-top-0 {
	margin-top: 0;
}

html .page .offset-top-5 {
	margin-top: 5px;
}

html .page .offset-top-10 {
	margin-top: 10px;
}

html .page .offset-top-12 {
	margin-top: 12px;
}

html .page .offset-top-15 {
	margin-top: 15px;
}

html .page .offset-top-17 {
	margin-top: 17px;
}

html .page .offset-top-20 {
	margin-top: 20px;
}

html .page .offset-top-22 {
	margin-top: 22px;
}

html .page .offset-top-25 {
	margin-top: 25px;
}

html .page .offset-top-27 {
	margin-top: 27px;
}

html .page .offset-top-30 {
	margin-top: 30px;
}

html .page .offset-top-35 {
	margin-top: 35px;
}

html .page .offset-top-40 {
	margin-top: 40px;
}

html .page .offset-top-45 {
	margin-top: 45px;
}

html .page .offset-top-47 {
	margin-top: 47px;
}

html .page .offset-top-50 {
	margin-top: 50px;
}

html .page .offset-top-56 {
	margin-top: 56px;
}

html .page .offset-top-60 {
	margin-top: 60px;
}

html .page .offset-top-65 {
	margin-top: 65px;
}

html .page .offset-top-70 {
	margin-top: 70px;
}

html .page .offset-top-85 {
	margin-top: 85px;
}

html .page .offset-top-90 {
	margin-top: 90px;
}

html .page .offset-top-110 {
	margin-top: 110px;
}

html .page .offset-top-114 {
	margin-top: 114px;
}

html .page .offset-top-133 {
	margin-top: 133px;
}

html .page .offset-top-147 {
	margin-top: 147px;
}

@media (min-width: 480px) {
	html .page .offset-xs-top-0 {
		margin-top: 0;
	}
	html .page .offset-xs-top-5 {
		margin-top: 5px;
	}
	html .page .offset-xs-top-10 {
		margin-top: 10px;
	}
	html .page .offset-xs-top-12 {
		margin-top: 12px;
	}
	html .page .offset-xs-top-15 {
		margin-top: 15px;
	}
	html .page .offset-xs-top-17 {
		margin-top: 17px;
	}
	html .page .offset-xs-top-20 {
		margin-top: 20px;
	}
	html .page .offset-xs-top-22 {
		margin-top: 22px;
	}
	html .page .offset-xs-top-25 {
		margin-top: 25px;
	}
	html .page .offset-xs-top-27 {
		margin-top: 27px;
	}
	html .page .offset-xs-top-30 {
		margin-top: 30px;
	}
	html .page .offset-xs-top-35 {
		margin-top: 35px;
	}
	html .page .offset-xs-top-40 {
		margin-top: 40px;
	}
	html .page .offset-xs-top-45 {
		margin-top: 45px;
	}
	html .page .offset-xs-top-47 {
		margin-top: 47px;
	}
	html .page .offset-xs-top-50 {
		margin-top: 50px;
	}
	html .page .offset-xs-top-56 {
		margin-top: 56px;
	}
	html .page .offset-xs-top-60 {
		margin-top: 60px;
	}
	html .page .offset-xs-top-65 {
		margin-top: 65px;
	}
	html .page .offset-xs-top-70 {
		margin-top: 70px;
	}
	html .page .offset-xs-top-85 {
		margin-top: 85px;
	}
	html .page .offset-xs-top-90 {
		margin-top: 90px;
	}
	html .page .offset-xs-top-110 {
		margin-top: 110px;
	}
	html .page .offset-xs-top-114 {
		margin-top: 114px;
	}
	html .page .offset-xs-top-133 {
		margin-top: 133px;
	}
	html .page .offset-xs-top-147 {
		margin-top: 147px;
	}
}

@media (min-width: 768px) {
	html .page .offset-sm-top-0 {
		margin-top: 0;
	}
	html .page .offset-sm-top-5 {
		margin-top: 5px;
	}
	html .page .offset-sm-top-10 {
		margin-top: 10px;
	}
	html .page .offset-sm-top-12 {
		margin-top: 12px;
	}
	html .page .offset-sm-top-15 {
		margin-top: 15px;
	}
	html .page .offset-sm-top-17 {
		margin-top: 17px;
	}
	html .page .offset-sm-top-20 {
		margin-top: 20px;
	}
	html .page .offset-sm-top-22 {
		margin-top: 22px;
	}
	html .page .offset-sm-top-25 {
		margin-top: 25px;
	}
	html .page .offset-sm-top-27 {
		margin-top: 27px;
	}
	html .page .offset-sm-top-30 {
		margin-top: 30px;
	}
	html .page .offset-sm-top-35 {
		margin-top: 35px;
	}
	html .page .offset-sm-top-40 {
		margin-top: 40px;
	}
	html .page .offset-sm-top-45 {
		margin-top: 45px;
	}
	html .page .offset-sm-top-47 {
		margin-top: 47px;
	}
	html .page .offset-sm-top-50 {
		margin-top: 50px;
	}
	html .page .offset-sm-top-56 {
		margin-top: 56px;
	}
	html .page .offset-sm-top-60 {
		margin-top: 60px;
	}
	html .page .offset-sm-top-65 {
		margin-top: 65px;
	}
	html .page .offset-sm-top-70 {
		margin-top: 70px;
	}
	html .page .offset-sm-top-85 {
		margin-top: 85px;
	}
	html .page .offset-sm-top-90 {
		margin-top: 90px;
	}
	html .page .offset-sm-top-110 {
		margin-top: 110px;
	}
	html .page .offset-sm-top-114 {
		margin-top: 114px;
	}
	html .page .offset-sm-top-133 {
		margin-top: 133px;
	}
	html .page .offset-sm-top-147 {
		margin-top: 147px;
	}
}

@media (min-width: 992px) {
	html .page .offset-md-top-0 {
		margin-top: 0;
	}
	html .page .offset-md-top-5 {
		margin-top: 5px;
	}
	html .page .offset-md-top-10 {
		margin-top: 10px;
	}
	html .page .offset-md-top-12 {
		margin-top: 12px;
	}
	html .page .offset-md-top-15 {
		margin-top: 15px;
	}
	html .page .offset-md-top-17 {
		margin-top: 17px;
	}
	html .page .offset-md-top-20 {
		margin-top: 20px;
	}
	html .page .offset-md-top-22 {
		margin-top: 22px;
	}
	html .page .offset-md-top-25 {
		margin-top: 25px;
	}
	html .page .offset-md-top-27 {
		margin-top: 27px;
	}
	html .page .offset-md-top-30 {
		margin-top: 30px;
	}
	html .page .offset-md-top-35 {
		margin-top: 35px;
	}
	html .page .offset-md-top-40 {
		margin-top: 40px;
	}
	html .page .offset-md-top-45 {
		margin-top: 45px;
	}
	html .page .offset-md-top-47 {
		margin-top: 47px;
	}
	html .page .offset-md-top-50 {
		margin-top: 50px;
	}
	html .page .offset-md-top-56 {
		margin-top: 56px;
	}
	html .page .offset-md-top-60 {
		margin-top: 60px;
	}
	html .page .offset-md-top-65 {
		margin-top: 65px;
	}
	html .page .offset-md-top-70 {
		margin-top: 70px;
	}
	html .page .offset-md-top-85 {
		margin-top: 85px;
	}
	html .page .offset-md-top-90 {
		margin-top: 90px;
	}
	html .page .offset-md-top-110 {
		margin-top: 110px;
	}
	html .page .offset-md-top-114 {
		margin-top: 114px;
	}
	html .page .offset-md-top-133 {
		margin-top: 133px;
	}
	html .page .offset-md-top-147 {
		margin-top: 147px;
	}
}

@media (min-width: 1200px) {
	html .page .offset-lg-top-0 {
		margin-top: 0;
	}
	html .page .offset-lg-top-5 {
		margin-top: 5px;
	}
	html .page .offset-lg-top-10 {
		margin-top: 10px;
	}
	html .page .offset-lg-top-12 {
		margin-top: 12px;
	}
	html .page .offset-lg-top-15 {
		margin-top: 15px;
	}
	html .page .offset-lg-top-17 {
		margin-top: 17px;
	}
	html .page .offset-lg-top-20 {
		margin-top: 20px;
	}
	html .page .offset-lg-top-22 {
		margin-top: 22px;
	}
	html .page .offset-lg-top-25 {
		margin-top: 25px;
	}
	html .page .offset-lg-top-27 {
		margin-top: 27px;
	}
	html .page .offset-lg-top-30 {
		margin-top: 30px;
	}
	html .page .offset-lg-top-35 {
		margin-top: 35px;
	}
	html .page .offset-lg-top-40 {
		margin-top: 40px;
	}
	html .page .offset-lg-top-45 {
		margin-top: 45px;
	}
	html .page .offset-lg-top-47 {
		margin-top: 47px;
	}
	html .page .offset-lg-top-50 {
		margin-top: 50px;
	}
	html .page .offset-lg-top-56 {
		margin-top: 56px;
	}
	html .page .offset-lg-top-60 {
		margin-top: 60px;
	}
	html .page .offset-lg-top-65 {
		margin-top: 65px;
	}
	html .page .offset-lg-top-70 {
		margin-top: 70px;
	}
	html .page .offset-lg-top-85 {
		margin-top: 85px;
	}
	html .page .offset-lg-top-90 {
		margin-top: 90px;
	}
	html .page .offset-lg-top-110 {
		margin-top: 110px;
	}
	html .page .offset-lg-top-114 {
		margin-top: 114px;
	}
	html .page .offset-lg-top-133 {
		margin-top: 133px;
	}
	html .page .offset-lg-top-147 {
		margin-top: 147px;
	}
}

@media (min-width: 1800px) {
	html .page .offset-xl-top-0 {
		margin-top: 0;
	}
	html .page .offset-xl-top-5 {
		margin-top: 5px;
	}
	html .page .offset-xl-top-10 {
		margin-top: 10px;
	}
	html .page .offset-xl-top-12 {
		margin-top: 12px;
	}
	html .page .offset-xl-top-15 {
		margin-top: 15px;
	}
	html .page .offset-xl-top-17 {
		margin-top: 17px;
	}
	html .page .offset-xl-top-20 {
		margin-top: 20px;
	}
	html .page .offset-xl-top-22 {
		margin-top: 22px;
	}
	html .page .offset-xl-top-25 {
		margin-top: 25px;
	}
	html .page .offset-xl-top-27 {
		margin-top: 27px;
	}
	html .page .offset-xl-top-30 {
		margin-top: 30px;
	}
	html .page .offset-xl-top-35 {
		margin-top: 35px;
	}
	html .page .offset-xl-top-40 {
		margin-top: 40px;
	}
	html .page .offset-xl-top-45 {
		margin-top: 45px;
	}
	html .page .offset-xl-top-47 {
		margin-top: 47px;
	}
	html .page .offset-xl-top-50 {
		margin-top: 50px;
	}
	html .page .offset-xl-top-56 {
		margin-top: 56px;
	}
	html .page .offset-xl-top-60 {
		margin-top: 60px;
	}
	html .page .offset-xl-top-65 {
		margin-top: 65px;
	}
	html .page .offset-xl-top-70 {
		margin-top: 70px;
	}
	html .page .offset-xl-top-85 {
		margin-top: 85px;
	}
	html .page .offset-xl-top-90 {
		margin-top: 90px;
	}
	html .page .offset-xl-top-110 {
		margin-top: 110px;
	}
	html .page .offset-xl-top-114 {
		margin-top: 114px;
	}
	html .page .offset-xl-top-133 {
		margin-top: 133px;
	}
	html .page .offset-xl-top-147 {
		margin-top: 147px;
	}
}