#home .header,
.header-bg,
.main-footer,
.academics,
.campus-experience,
.opportunity,
.next-step-cta {
  background-size: cover !important;
  background-position: top center !important;
  -ms-behavior: url(/css/backgroundsize.min.htc);
}
