/* META BOX TABS */
#post-body #normal-sortables {
	min-height: 0;
}

.rwmb-input {
	position: relative;
}

.rwmb-field {
	margin: 0;
	padding: 10px 0;
	border-bottom: solid 1px #f0f0f0;
}

.rwmb-meta-box {
	padding: 10px 10px;
}

.rwmb-meta-box .rwmb-checkbox-wrapper .description {
	display: block;
}

.rwmb-color-wrapper .wp-picker-holder {
	z-index: 2;
}

.rwmb-images li {
	width: auto !important;
	height: auto !important;
	min-width: 150px;
	min-height: 30px;
}

.rwmb-images li img {
	width: auto;
	height: auto;
	max-height: 150px;
	border: solid 3px #f0f0f0;
}

.rwmb-label {
	font-weight: 600;
}

.topica-meta-tabs-wrap {
	height: auto;
	overflow: hidden;
}

.topica-meta-tabs-wrap.all-hidden {
	display: none;
}

#topica-tabbed-meta-boxes {
	position: relative;
	z-index: 1;
	float: right;
	width: 80%;
	border-left: 1px solid #e3e3e3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#topica-tabbed-meta-boxes > div > .hndle, #topica-tabbed-meta-boxes > div > .handlediv {
	display: none !important;
}

#topica-tabbed-meta-boxes .inside {
	display: block !important;
}

#topica-tabbed-meta-boxes > div {
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 20px;
	background-color: #FCFCFC;
}

#topica-meta-box-tabs {
	margin: 0;
	width: 20%;
	position: relative;
	z-index: 2;
	float: left;
	margin-right: -1px;
}

#topica-meta-box-tabs li {
	margin-bottom: -1px;
}

#topica-meta-box-tabs li.user-hidden {
	display: none !important;
}

#topica-meta-box-tabs li > a {
	display: block;
	background: #f7f7f7;
	padding: 12px;
	line-height: 150%;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	text-decoration: none;
}

#topica-meta-box-tabs li > a:hover {
	color: #222;
	background: #fff;
}

#topica-meta-box-tabs li > a.active {
	border-right-color: #FCFCFC;
	background: #FCFCFC;
	box-shadow: none;
}

.closed #topica-meta-box-tabs, .closed #topica-tabbed-meta-boxes {
	display: none;
}

/* CheckBox
----------------------------------------*/
.rwmb-checkbox {
	opacity: 0;
	position: absolute;
}

.rwmb-checkbox + label {
	position: relative;
	background-color: #D7D7D7;
	width: 58px;
	height: 24px;
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	font-weight: 600;

	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

.rwmb-checkbox + label:before {
	content: "\f00c";
	font-family: FontAwesome;
	text-align: center;
	background-color: #fff;
	width: 18px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 3px;

	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

.rwmb-checkbox + label:after {
	content: attr(data-off);
	position: absolute;
	top: 0px;
	right: 0;
	width: 37px;
	text-align: center;
	line-height: 24px;

	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

.rwmb-checkbox:checked + label {
	background-color: #4A89DC;
}

.rwmb-checkbox:checked + label:before {
	-webkit-transform: translateX(34px);
	-moz-transform: translateX(34px);
	-ms-transform: translateX(34px);
	-o-transform: translateX(34px);
	transform: translateX(34px);
	color: #4A89DC;
}

.rwmb-checkbox:checked + label:after {
	content: attr(data-on);
	-webkit-transform: translateX(-21px);
	-moz-transform: translateX(-21px);
	-ms-transform: translateX(-21px);
	-o-transform: translateX(-21px);
	transform: translateX(-21px);
}

#topica_meta_box_product_secondary_image .rwmb-image_advanced-wrapper {
	margin: 0;
	padding: 0;
	border-bottom: none;
}

#topica_meta_box_product_secondary_image .rwmb-image_advanced-wrapper .rwmb-label {
	display: none;
}

#topica_meta_box_product_secondary_image .rwmb-meta-box {
	padding: 0;
}

#topica_meta_box_product_secondary_image .rwmb-images li {
	float: none;
	margin: auto;
}